<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8" />
    <title th:text="${title}">Title</title>
</head>
<body class="container">
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navCheese"></nav>

    <p th:unless="${cheesesArray} and ${cheesesArray.size()}">no cheese :(</p>

    <div th:if="${cheesesArray} and ${cheesesArray.size()}">
        <table class="table" style="max-width:600px">
            <tr>
                <th style="max-width:25px"></th>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
                <th>Rating</th>
            </tr>
            <tr th:each="eachCheese : ${cheesesArray}">
                <td style="max-width:25px"><a th:href="@{'/cheese/edit/' + ${eachCheese.cheeseId}}" th:text="Edit"></a></td>
                <td th:text="${eachCheese.name}"></td>
                <td th:text="${eachCheese.description}"></td>
                <td th:text="${eachCheese.type.name}"></td>
                <td th:text="${eachCheese.rating}"></td>
            </tr>
        </table>
    </div>
</body>
</html>